<html>
	<head>
		<meta charset="UTF-8">
		<title>Register</title>
	</head>
	
	<body>
		<div style="text-align: center; font-family: arial; font-size: 20px;">
            <br>
            <div style="border: 1px solid black; border-radius: 15px; width: 300px; margin: 0px auto; padding: 15px 35px 35px 35px;">
              <h1>Register</h1>
              <form action="/register" method="POST" style="padding: 5px;">
                  <label>Username: </label>
                  <input type="text" name="username" placeholder="username...">
                  <br>
                  <label>E-mail: </label>
                  <input type="text" name="email" placeholder="email..." style="margin-top: 10px; margin-left: 33px;">
                  <br>
                  <label>Password: </label>
                  <input type="password" name="password" placeholder="password..." style="margin-top: 10px;">
                  
                  <label>C. Pass: </label>
                  <input type="password" name="confirm_password" placeholder="confirm password..." style="margin-top: 10px; margin-left: 19px;">
                  <br><br>
                  <button type="submit">Register</button>
              </form>
            </div>
		</div>
	</body>
</html>